@import '~antd/dist/antd.css';

.container {
    position: absolute;
    width:100%;
    height: 100%;
}

.menus {
    display: inline-block;
    width: 250px;
    height: 100%;
    margin: 0;
    border-right: 1px solid gray;
}

.content {
    vertical-align: top;
    display: inline-block;
    width: calc(100% - 250px);
    height: 100%;
    text-align: center;
}
